# Dev
[Bb]in/
[Oo]bj/
*.sln.docstates
*.suo
*.user*
.*/
packages/
node_modules/
vendor/
tests/
logs/
Research/

# Specific
.gitnotes
.DS_Store
desktop.ini
[Nn]otes.txt
[Tt]humbs.db
todo.txt
web.config
/*Test.php
*secrets.h

# Wildcards
_*/
*- [Cc]opy*
*.7z
*.asc
*.auth*
*.bak*
*.bat*
*.cfg
*.conf*
*.copilot*
*.cred*
*.crt
*.db
*.dev*
*.env*
*.exe
*.gpg
*.htm*
*.ilk
*.ini
*.kdb*
*.key
*.lock
*.log
*.msi
*.note
*.notes
*.obj
*.pass*
*.pdb
*.pem
*.pfx
*.rar
*.secret
*.sqlite*
*.token
*.todo
*.url
*.zip

#include
!app.config
!Research/
