# Dev
[Bb]in/
[Oo]bj/
*.sln.docstates
*.suo
*.user*
.*/
packages/
node_modules/
vendor/

# Specific
.gitnotes
.DS_Store
[Aa]rchive.bat
[Bb]ackup.bat
desktop.ini
[Nn]otes.txt
[Tt]humbs.db
todo.txt
web.config

# Wildcards
_*/
*- [Cc]opy*
*.7z
*.asc
*.auth*
*.bak*
*.cfg
*.conf*
*.cred*
*.crt
*.db
*.dev*
*.env*
*.exe
*.gpg
*.htm*
*.ini
*.kdb*
*.key
*.log
*.msi
*.note
*.notes
*.pass*
*.pem
*.pfx
*.rar
*.secret
*.sqlite*
*.token
*.todo
*.url
*.zip

#include
!app.config